
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyHomePage</title>
</head>
<body>
    <div>
        Hello Raj. Goto Home.<br />
        ViewBag Time = @ViewBag.MyTime<br />
        TempData Time = @TempData["MyTimeTemp"]<br />
        Session Time = @Session["MyTimeSession"]<br />
    </div>
</body>
</html>
